.App {
  text-align: center;
  background: rgb(36,27,0);
  background: linear-gradient(47deg, rgb(146, 143, 126) 0%, rgb(157, 168, 199) 38%, rgb(155, 143, 112) 100%); 
  height: 100vh;
}

/* html tags */

/* section {
  width: 100vw;
} */

a {
  text-decoration: none;
}

/* Classes */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(56, 56, 61);
  color: white;
  max-width: 20rem;
  padding: 2rem;
  margin: 1rem;
  border-radius: 2rem;
}

.img-section img{
  width: 100vw;
  z-index: inherit;
  position: relative;
}

.home-bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 3rem;
  color: rgb(245, 239, 222);
}

.text-paragraph {
  max-width: 40vw;
  padding: 3rem;
}

